<div class="row">
  <div class="col-md-3 col-md-offset-1">
   <% if current_user.image? %>
     <%= image_tag current_user.image, class: "user-profile" %>
   <% else %>
     <%= image_tag current_user.avatar, class: "user-profile"%>
   <% end %>
   <div class="user-info">
     <%= @user.email %>
   </div>
  </div>
<h2><%= @user.fullname %></h2>




</div>
