<body>
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The MustStache Team</h2>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member"><img src="http://i.imgur.com/DU4lUsj.png" class="img-circle img-responsive" />
                        <h4>Kevin Tran</h4>
                        <p class="text-muted">Fearless Leader Developer</p>
                        <ul class="list-inline social-buttons">
                            <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member"><img src="http://i.imgur.com/uW2jiw5.png" class="img-circle img-responsive" />
                        <h4>Sol Beniquez</h4>
                        <p class="text-muted">Google Genius Developer</p>
                        <ul class="list-inline social-buttons">
                            <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member"><img src="http://i.imgur.com/ePHHlxW.jpg" class="img-circle img-responsive" />
                        <h4>Stephen Dangerfield</h4>
                        <p class="text-muted">Snark Master Developer</p>
                        <ul class="list-inline social-buttons">
                            <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member"><img src="http://i.imgur.com/FUtbQ99.png" class="img-circle img-responsive" />
                        <h4>Emily Johnson</h4>
                        <p class="text-muted">AWS Master Developer</p>
                        <ul class="list-inline social-buttons">
                            <li> <a href="https://twitter.com/turbofemme"><i class="fa fa-twitter"></i></a></li>
                            <li> <a href="https://www.facebook.com/ladydangerdame"><i class="fa fa-facebook"></i></a></li>
                            <li> <a href="https://www.linkedin.com/in/emilyclairejohnson"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">MustStache is a Ruby on Rails app that let the user find spaces for temporary storage purpose.</p>
                </div>
            </div>
        </div>
    </section>
</body>
