@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui/smoothness";

#map {
  height: 400px;
  width: 100%;
}

body {
  background-color: #dfdfdf;
  color: #9d7f66;
}

.avatar-small {
  width: 28px;
}


.conversation-image{
  width: 60px;
}

.spaces-photo {
  height: 380px;
  width: 400px;
}

.user-profile {
  width: 200px;
  height: 200px;
}

.container {
  width: 80%;
}

.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
  border-bottom: 1px solid #CCC;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.panel-default .panel-heading {
  color: #565a5c;
  background-color: #edefed;
  font-size: 18px;
  font-weight: 400
}

.reservation-table td {
  width: 100%;
  border: 1px solid #dce0e0;
  padding:10px;
}

.wide {
  width: 100%;
}

.form-group {
  margin-bottom: 25px;
}

.form-control {
  border-radius: 2px;
  height: 4rem;
}

.conversation {
  color: #7f7f7f;
  padding: 10px;
}

.conversation:hover, .conversation:focus {
  background-color: #F4F4F5;
}

.large {
  width: 500px !important;
  height: 400px !important;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}
